# Ignorer hele mappen
Python stuff - Chat GPT Example (ikke i brug)/
PDF Downloader/bin/*
PDF Downloader/obj/*
*.user
*.suo
.vs/
.idea/
*.py[cod]
__pycache__/
.vscode/
/Downloads/
/downloads/
*.pdf
tests/PdfDownloader.Tests/bin/*
tests/PdfDownloader.Tests/obj/*
*.log
PDF Downloader/Downloads/*